# kubectl create secret docker-registry <pull_secret_name> \
#     --docker-server=<registry_server> \
#     --docker-username=<user_name> \
#     --docker-password=<password> \
#     --docker-email=<email>

global:
  auth:
    type: auth0
    enabled: false
  postgresql:
    enabled: true
    overrideUrl: ""
    image:
      registry: public.ecr.aws/groundcovercom
      repository: bitnami/postgresql
      tag: 15.3.0-debian-11-r75
    auth:
      existingSecret: ""
      secretKeys:
        adminPasswordKey: postgres-password
  monitors:
    enabled: false
  debug:
    enabled: false
  ingress:
    enableTLS: false
    customDomains: []
enabled: true
auth:
  proxyService: "oauth2proxy-oauth2-proxy"
  proxyPort: 80
frontendDomain: ""
additionalLabels:
onprem:
  enabled: true
service:
  annotations: {}
origin:
  registry: quay.io/groundcover
  repository: '{{ include "router.repository" . }}'
  tag: 1.11.479
curl:
  image:
    repository: "{{ .Values.origin.registry }}/alpine/curl"
    tag: 8.14.1
serviceAccount:
  annotations:
deployedIngresses:
  ui: true
  grafana: true
ingress:
  enabled: false
ingresses:
# - name: router-frontend-ingress
#   ingressClassName: {lb class}
#   annotations:
#   hosts:
#     - host: <DOMAIN>
#       paths:
#         - path: /
#           pathType: Prefix
#           port: 8080
imagePullSecrets: []
configuration:
  # AI agent service URL - automatically set when agent-service.enabled is true
  AgentServiceURL: '{{ include "router.agentServiceURL" . }}'
  EnableAgentMCPTool: false
  authProxy: false
  authProxyHeaders:
    User: "X-WEBAUTH-USER"
    Org: "X-WEBAUTH-ORG"
    Roles: "X-WEBAUTH-ROLES"
    RolesDelimiter: ","
  requestTimeout: 1m
  slowRequestThreshold: 3s
  Activity:
    CheckInterval: 5m
    StaleAfter: 30m
  LogLevel: 4
  Reverse: true
  groundcoverVersion: ""
  Portal:
    Host: "portal"
    Port: "5555"
  ListenPort: "8080"
  JWT:
    RequiredScope: "access:router"
    OrgClaimKey: "https://client.info/org"
    Audience: "https://groundcover"
    Issuer: "https://auth.groundcover.com/"
    TenantURL: "https://auth.groundcover.com/"
    JWKSPath: ".well-known/jwks.json"
    MCPOAuthClientId: "groundcover-mcp-client-id"
  RBAC:
    DB:
      Host: '{{ splitList ":" (include "postgresql.base.url" .) | first }}'
      Port: '{{ splitList ":" (include "postgresql.base.url" .) | last }}'
      Name: "rbac"
      User: '{{ include "postgresql.username" . }}'
      Pass: ""
      Timeout: 150s
      Interval: 5s
      SSLMode: "require"
    Cache:
      ttl: 10m
      PurgeInterval: 20m
      LastSeenExpiration: 5m
    Migrations:
      Path: migrations
    TryCreateDatabase: true
  Grafana:
    URL: '{{ printf "http://%s" (include "theatre.fullname" .) }}'
    ProxyPath: "/grafana"
    Username: "admin"
    Password: ""
    DatasourcesURL: '{{ include "router.ds.url" . }}'
    DatasourcesURLTLSSkipVerify: "true"
  OnPrem:
    Enabled: "{{ .Values.onprem.enabled }}"
  Reporter:
    StoreStatus: false
  Monitors:
    DB:
      Host: '{{ splitList ":" (include "postgresql.base.url" .) | first }}'
      Port: '{{ splitList ":" (include "postgresql.base.url" .) | last }}'
      Name: "monitors"
      User: '{{ include "postgresql.username" . }}'
      Pass: ""
      Timeout: 150s
      Interval: 5s
      SSLMode: "disable"
  DatasourceRetryAttempts: 10
  DatasourceRetryInterval: 5s
  QueryOptimizer:
    Traces:
      Enabled: true
    Logs:
      Enabled: true
  UseStaticAssets: false
  BackendConfig:
    Namespace: '{{ include "backendConfig.namespace" . }}'
    KongIngressClass: '{{ include "backendConfig.kongIngressClass" . }}'
    ShouldUpdateKongRouter: '{{ include "backendConfig.shouldUpdateKongRouter" . }}'
strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0
lifecycle:
# preStop:
#   exec:
#     command:
#     - /bin/sleep
#     - "5"
resources:
  requests:
    cpu: 1000m
    memory: 1024Mi
  limits:
    memory: 2048Mi
nodeSelector: {}
tolerations: []
extraEnv: []
extraContainers: []
kong-crds:
  upgradeCRDs: true
  image:
    repository: public.ecr.aws/groundcovercom/alpine/kubectl
    tag: 1.34.2
kong:
  replicaCount: 1
  image:
    tag: 3.9.1
    repository: public.ecr.aws/groundcovercom/kong
  admin:
    enabled: true
    type: ClusterIP
  extraLabels:
    app.kubernetes.io/part-of: groundcover
  env:
    anonymous_reports: "off"
    dump_config: "true"
    headers: "off"
    mem_cache_size: "256m"
    upstream_keepalive_max_requests: "0"
    nginx_http_client_body_buffer_size: "10m"
    nginx_mem_cache_size: "256m"
    database: ""
    pg_user: ""
    pg_database: kong
    nginx_proxy_proxy_buffer_size: "32k"
    nginx_proxy_proxy_buffers: "4 32k"
    proxy_access_log: "/dev/stdout custom_fmt"
    nginx_http_log_format: |
      custom_fmt '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent"'
  proxy:
    type: ClusterIP
    http:
      enabled: true
    tls:
      enabled: true
    annotations: {}
  ingressController:
    enabled: true
    admissionWebhook:
      enabled: false
    image:
      tag: "3.5"
      repository: public.ecr.aws/groundcovercom/kong/kubernetes-ingress-controller
    ingressClass: groundcover-kong
    # annotations for IngressClass resource (Kubernetes 1.18+)
    ingressClassAnnotations: {}
  customEnv:
    KONG_PG_HOST:
      value: '{{ splitList ":" (include "postgresql.base.url" .) | first }}'
    KONG_PG_PORT:
      value: '{{ splitList ":" (include "postgresql.base.url" .) | last }}'
    KONG_PG_USER:
      value: '{{ include "postgresql.username" . }}'
    KONG_DATABASE:
      value: '{{ include "postgresql.database" . }}'
    KONG_PG_PASSWORD:
      valueFrom:
        secretKeyRef:
          name: '{{ include "postgresql.secretName" . }}'
          key: '{{ include "postgresql.adminPasswordKey" . }}'
grafana:
  nameOverride: grafana
  extraLabels:
    app.kubernetes.io/part-of: groundcover
  plugins: []
  image:
    registry: public.ecr.aws
    repository: groundcovercom/grafana-groundcover
    tag: v0.0.43-grafana11.3.7
  testFramework:
    enabled: false
  envValueFrom:
    GF_DATABASE_PASSWORD:
      secretKeyRef:
        name: '{{ include "postgresql.secretName" . }}'
        key: '{{ include "postgresql.adminPasswordKey" . }}'
  grafana.ini:
    live:
      allowed_origins: "*"
    database:
      type: postgres
      host: '{{ (include "postgresql.base.url" .) }}'
      name: grafana
      user: '{{ include "postgresql.username" . }}'
      ssl_mode: require
    paths:
      data: /var/lib/grafana/
      logs: /var/log/grafana
      plugins: /usr/share/grafana/plugins
      provisioning: /etc/grafana/provisioning
    log:
      mode: console
    grafana_net:
      url: https://grafana.net
    server:
      serve_from_sub_path: "true"
      root_url: "http://localhost:8080/grafana/"
    security:
      cookie_samesite: disabled
      allow_embedding: true
      cookie_secure: true
      cookie_httponly: true
      csrf_trusted_origins: localhost
    auth.jwt:
      enabled: true
      enable_login_token: true
      header_name: X-Forwarded-Access-Token
      url_login: true
      username_claim: "https://client.info/email"
      email_claim: "https://client.info/email"
      org_claim: "https://client.info/org"
      key_file: '{{ ternary "/certs/public_key.pem" "" ( or (eq .Values.global.auth.type "no-auth") ( eq .Values.global.airgap true) ) }}'
      jwk_set_url: '{{ ternary "https://auth.groundcover.com/.well-known/jwks.json" "" ( and (eq .Values.global.auth.type "auth0") ( not .Values.global.airgap) ) }}'
      cache_ttl: 60m
      auto_sign_up: false
      skip_org_role_sync: true
    unified_alerting:
      max_attempts: "3"
  extraSecretMounts:
    - name: certs
      mountPath: /certs
      secretName: groundcover-jwt
      readOnly: true
      subPath: ""
  extraInitContainers:
    - name: wait-for-db
      image: '{{ include "postgresql.image" . }}'
      env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: '{{ include "postgresql.secretName" . }}'
              key: '{{ include "postgresql.adminPasswordKey" . }}'
        - name: POSTGRES_USER
          value: '{{ include "postgresql.username" . }}'
      command:
        - /bin/sh
        - -c
      args:
        - |
          pg_isready \
            -U "$POSTGRES_USER" \
            -d "dbname={{ include "postgresql.database" . }}" \
            -h {{ splitList ":" (include "postgresql.base.url" .) | first }} \
            -p {{ splitList ":" (include "postgresql.base.url" .) | last }}
dbs:
  router-rbac: rbac
  router-monitors: monitors
  grafana: grafana
  kong: kong
agent-service:
  enabled: false
  image:
    repository: quay.io/groundcover/agent-service
    tag: "{{ default .Chart.AppVersion .Values.origin.tag }}"
    pullPolicy: Always
  initImage:
    repository: quay.io/groundcover/postgres
    tag: "15"
  replicas: 2
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  service:
    port: 8080
  nodeSelector: {}
  tolerations: []
  affinity: {}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  postgres:
    database: "agent_service"
    secretName: "managed-postgres-credentials"
    hostKey: "host"
    portKey: "port"
    usernameKey: "username"
    passwordKey: "password"
  config:
    routerUrl: "http://router:8080"
    awsRegion: ""
    bedrockModelId: ""
    bedrockLargeModelId: ""
    otelTracingEnabled: "true"
    otelServiceName: "agent-service"
    otelExporterOtlpEndpoint: ""
    langsmithOtelEnabled: "true"
    langsmithOtelOnly: "true" # Prevents native client from connecting to LangSmith cloud
    langsmithTracing: "true" # Enables LangSmith OTEL instrumentation (adds langsmith.* attributes)
    langsmithProjectName: "agent-service"
  gitbook:
    secretName: "gitbook-credentials"
    apiTokenKey: "api-token"
    organizationIdKey: "organization-id"
    siteIdKey: "site-id"
    spacesIdKey: "space-id"
  longTermMemory:
    enabled: false
    embeddingDims: 1024
    embeddingModel: "bedrock:amazon.titan-embed-text-v2:0"
    namespace: "sre_agent_memories"
    namespacePerDeployment: false
    devUser: ""
    enableDirectMemoryManagementTools: false
