ingressClass: kong
secure: '{{ include "incloud-ingress.secure" .}}'

kong-crds:
  upgradeCRDs: true
  image:
    repository: 'public.ecr.aws/groundcovercom/tools' 
    tag: '20260206'

kong:
  replicaCount: 2
  image:
    tag: 3.9.1-20260128
    repository: public.ecr.aws/groundcovercom/kong
  ingressController:
    image:
      tag: "3.5.3-20260205"
      repository: public.ecr.aws/groundcovercom/kong/kubernetes-ingress-controller  
  deployment:
    minReadySeconds: 15
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1  
  env:
    anonymous_reports: "off"
    dump_config: "true"
    headers: "off"
    mem_cache_size: "256m"
    upstream_keepalive_max_requests: "0"
    nginx_http_client_body_buffer_size: "10m"
    nginx_mem_cache_size: "256m"
    proxy_access_log: "/dev/stdout custom_fmt"
    nginx_http_log_format: |
      custom_fmt '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent"'
  proxy:
    admin:
      enabled: true
      type: ClusterIP    
    http:
      enabled: false
    tls:
      enabled: true
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: nlb
      service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway
      labelSelector:
        matchLabels:
          app.kubernetes.io/name: kong
    - maxSkew: 1
      topologyKey: topology.kubernetes.io/zone
      whenUnsatisfiable: ScheduleAnyway
      labelSelector:
        matchLabels:
          app.kubernetes.io/name: kong
  podDisruptionBudget:
    enabled: true
    maxUnavailable: "1%"
## Kong Plugins for inCloud functionality
datasource:
  enabled: false

ingress:
  annotations:
  
cert-manager:
  enabled: false
  crds:
    enabled: false
  prometheus:
    enabled: true
    servicemonitor:
      enabled: false

cert-manager-crds:
  enabled: false
  upgradeCRDs: false
  image:
    repository: public.ecr.aws/groundcovercom/tools
    tag: 20260206