{{- if and .Values.global.backend.enabled .Values.global.dispatchCenter.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dispatch-center.configMapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "groundcover.labels" . | nindent 4 }}
    app: dispatch-center
    app.kubernetes.io/name: dispatch-center
data:
  config.yaml: |
    temporal:
      address: {{ .Values.dispatchCenter.temporal.host | default (printf "%s-temporal-frontend:7233" .Release.Name) | quote }}
    
    clickhouse:
      host: {{ include "clickhouse.fullname" . | quote }}
      port: {{ include "clickhouse.nativePort" . | quote }}
      database: {{ include "clickhouse.database" . | quote }}
      user: {{ include "clickhouse.username" . | quote }}
    
    postgresql:
      enabled: {{ .Values.dispatchCenter.postgresql.enabled | default true }}
      host: {{ splitList ":" (include "postgresql.base.url" .) | first | quote }}
      port: {{ splitList ":" (include "postgresql.base.url" .) | last | quote }}
      database: {{ .Values.dispatchCenter.postgresql.database | default "dispatch_center" | quote }}
      user: {{ include "postgresql.username" . | quote }}
      sslMode: {{ .Values.dispatchCenter.postgresql.sslMode | default "disable" | quote }}
      timeout: {{ .Values.dispatchCenter.postgresql.timeout | default "30s" }}
      interval: {{ .Values.dispatchCenter.postgresql.interval | default "2s" }}
      enableTracing: {{ .Values.dispatchCenter.postgresql.enableTracing | default false }}
      migrationsPath: {{ .Values.dispatchCenter.postgresql.migrationsPath | default "/migrations" | quote }}
      skipMigrations: {{ .Values.dispatchCenter.postgresql.skipMigrations | default false }}
    
    healthProbe:
      enabled: {{ .Values.dispatchCenter.healthProbe.enabled | default true }}
      port: {{ .Values.dispatchCenter.healthProbe.port | default 8089 }}
    
    telemetry:
      enabled: {{ include "telemetry.enabled" . }}
      traces:
        enabled: true
        endpoint: {{ include "telemetry.traces.otlpUrl" . | quote }}
        writeTimeout: {{ .Values.dispatchCenter.tracing.writeTimeout | default "5s" }}
        flushInterval: {{ .Values.dispatchCenter.tracing.flushInterval | default "5s" }}
        batchSize: {{ .Values.dispatchCenter.tracing.batchSize | default 50 }}
      pprof:
        enabled: true
        cpuSamplingDuration: {{ .Values.dispatchCenter.pprof.cpuSamplingDuration | default "60s" }}
        httpUploader:
          enabled: {{ eq (.Values.dispatchCenter.pprof.uploaderType | default "pyroscope") "http" }}
          pushURL: {{ printf "%s/upload/pprof" (include "telemetry.metrics.base.url" .) | quote }}
        pyroscopeUploader:
          enabled: {{ eq (.Values.dispatchCenter.pprof.uploaderType | default "pyroscope") "pyroscope" }}
          pushURL: {{ include "telemetry.metrics.base.url" . | quote }}
        backoffTicker:
          interval: {{ .Values.dispatchCenter.pprof.backoffTicker.interval | default "10s" }}
          exponent: {{ .Values.dispatchCenter.pprof.backoffTicker.exponent | default 40 }}
        memoryTicker:
          enabled: {{ .Values.dispatchCenter.pprof.memoryTicker.enabled | default true }}
          interval: {{ .Values.dispatchCenter.pprof.memoryTicker.interval | default "60s" }}
          jumpSizeInBytes: {{ .Values.dispatchCenter.pprof.memoryTicker.jumpSizeInBytes | default 100000000 }}
          windowSize: {{ .Values.dispatchCenter.pprof.memoryTicker.windowSize | default "12h" }}
          initialWait: {{ .Values.dispatchCenter.pprof.memoryTicker.initialWait | default "10m" }}
        cpuTicker:
          enabled: {{ .Values.dispatchCenter.pprof.cpuTicker.enabled | default true }}
          interval: {{ .Values.dispatchCenter.pprof.cpuTicker.interval | default "60s" }}
          jumpSizeInMCPU: {{ .Values.dispatchCenter.pprof.cpuTicker.jumpSizeInMCPU | default 100 }}
          windowSize: {{ .Values.dispatchCenter.pprof.cpuTicker.windowSize | default "12h" }}
          initialWait: {{ .Values.dispatchCenter.pprof.cpuTicker.initialWait | default "10m" }}
      instrumentation:
        serviceName: "dispatch-center"
        originCluster: {{ include "groundcover.clusterId" . | quote }}
        tracingTargets:
          - endpoint: {{ include "ingestor.otlptraces.cluster.http.url" . | quote }}
        metricsTargets:
          - endpoint: {{ include "metrics-ingester.promethues-exposition.http.url" . | quote }}
    
    dynconf:
      enabled: {{ .Values.global.fleetmanager.enabled }}
      url: {{ include "fleet-manager.url" . }}
      maximumInitialJitter: {{ .Values.fleetClientConfig.maximumInitialJitter }}
      requestInterval: {{ .Values.fleetClientConfig.requestInterval }}
      initialUpdateTimeout: {{ .Values.fleetClientConfig.initialUpdateTimeout }}
      insecureSkipVerify: {{ .Values.fleetClientConfig.tlsSkipVerify }}
    
    secretStore:
      url: {{ include "fleet-manager.base.url" . }}

    worker:
      taskQueue: "dispatch-center-worker"
      interval: {{ if and .Values.dispatchCenter .Values.dispatchCenter.worker .Values.dispatchCenter.worker.interval }}{{ .Values.dispatchCenter.worker.interval }}{{ else }}15s{{ end }}
      maxChildWorkflowsPerBatch: {{ if and .Values.dispatchCenter .Values.dispatchCenter.worker .Values.dispatchCenter.worker.maxChildWorkflowsPerBatch }}{{ .Values.dispatchCenter.worker.maxChildWorkflowsPerBatch }}{{ else }}5000{{ end }}
      maxActivityRetryAttempts: {{ if and .Values.dispatchCenter .Values.dispatchCenter.worker .Values.dispatchCenter.worker.maxActivityRetryAttempts }}{{ .Values.dispatchCenter.worker.maxActivityRetryAttempts }}{{ else }}1000{{ end }}

    policies:
{{- if .Values.dispatchCenter.policies }}
{{ .Values.dispatchCenter.policies | toYaml | indent 6 }}
{{- else }}
      []
{{- end }}
{{- end }}

