apiVersion: v2
appVersion: 1.8.68
dependencies:
- condition: router.enabled
  import-values:
  - child: dbs
    parent: backend.postgresql.dbs
  name: router
  repository: ""
  version: '>0.0.0'
- condition: global.backend.enabled
  import-values:
  - child: server.service
    parent: global.victoria-metrics.service
  name: victoria-metrics-single
  repository: https://victoriametrics.github.io/helm-charts
  version: 0.9.15
- condition: global.telemetry.enabled
  name: victoria-metrics-agent
  repository: ""
  version: 0.9.17
- alias: custom-metrics
  condition: custom-metrics.enabled
  name: victoria-metrics-agent
  repository: ""
  version: 0.9.17
- condition: victoria-metrics-operator.enabled
  name: victoria-metrics-operator
  repository: https://victoriametrics.github.io/helm-charts
  version: 0.28.0
- alias: metrics-ingester
  import-values:
  - child: service
    parent: global.metrics-ingester.service
  name: victoria-metrics-agent
  repository: ""
  version: 0.9.17
- condition: global.backend.enabled
  import-values:
  - child: auth
    parent: global.clickhouse.auth
  - child: containerPorts
    parent: global.clickhouse.containerPorts
  - child: serviceAccount
    parent: global.clickhouse.serviceAccount
  name: clickhouse
  repository: https://charts.bitnami.com/bitnami
  version: 6.2.9
- condition: global.backend.enabled
  import-values:
  - child: ports
    parent: global.opentelemetry-collector.ports
  - child: service
    parent: global.opentelemetry-collector.service
  name: opentelemetry-collector
  repository: https://open-telemetry.github.io/opentelemetry-helm-charts
  version: 0.81.1
- condition: global.agent.enabled
  import-values:
  - child: serviceAccount
    parent: global.kube-state-metrics.serviceAccount
  name: kube-state-metrics
  repository: https://prometheus-community.github.io/helm-charts
  version: 5.15.2
- alias: monitors-manager
  condition: global.backend.enabled
  name: grafana
  repository: https://grafana.github.io/helm-charts
  version: 7.2.0
- condition: incloud-ingress.enabled
  name: incloud-ingress
  repository: ""
  tags:
  - incloud
  version: '>0.0.0'
- condition: global.backend.enabled
  import-values:
  - child: postgresql.image
    parent: global.postgresql.image
  - child: postgresql.auth
    parent: global.postgresql.auth
  name: backend
  repository: ""
  version: '>=0.0.0'
- condition: global.vector.enabled
  name: vector
  repository: https://helm.vector.dev
  version: 0.32.1
description: Cloud Native Observability
name: groundcover
type: application
version: 1.8.68
