{{ if .Values.global.backend.enabled }}
apiVersion: v1
data:
  alerting_overrides.yaml: |
    apiVersion: 1
{{ if .Values.global.workflows.enabled }}
{{- if ne (len (index .Values "monitors-manager" "alertingOverrides" "policies")) (len (index .Values "monitors-manager" "alertingOverrides" "routeDefaults")) }}
{{- fail "policies and routeDefaults arrays must have equal length" }}
{{- end }}
    contactPoints:
{{- range (index .Values "monitors-manager" "alertingOverrides" "contactPoints") }}
      - name: {{ .name }}
        receivers:
{{- range .receivers }}
          - uid: {{ .uid }}
            type: {{ .type }}
            settings:
{{- range $key, $value := .settings }}
{{- if contains "{{" (toString $value) }}
              {{ $key }}: {{ tpl $value $ }}
{{- else }}
              {{ $key }}: {{ $value }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
    policies:
    - receiver: grafana-default-email
      group_by: ["grafana_folder","alertname"]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 4h
      routes:
{{- range $policyIndex, $policy := (index .Values "monitors-manager" "alertingOverrides" "policies") }}
      - receiver: {{ $policy.receiver }}
        group_by:
{{- range $policy.group_by }}
          - '{{ . }}'
{{- end }}
{{- if $policy.matchers }}
        matchers:
{{- range $policy.matchers }}
          - {{ . }}
{{- end }}
{{- end }}
        group_wait: {{ $policy.group_wait }}
        group_interval: {{ $policy.group_interval }}
        repeat_interval: {{ $policy.repeat_interval }}
        {{ if $policy.continue}}
        continue: {{ $policy.continue }}
        {{ end }}
{{- $routeDefaults := (index $.Values "monitors-manager" "alertingOverrides" "routeDefaults") }}
{{- $repeatIntervals := (index $.Values "monitors-manager" "alertingOverrides" "repeatIntervals") }}
        routes:
{{- range $routeIndex, $route := $routeDefaults }}
{{- if eq $policyIndex $routeIndex}}
{{- range $repeatInterval := $repeatIntervals }}
          - receiver: {{ $route.receiver }}
            matchers:
            {{- range $route.matchers }}
              - {{ . }}
            {{- end }}
              - _gc_repeat_interval = {{ $repeatInterval }}
            group_by:
{{- range $route.group_by }}
              - '{{ . }}'
{{- end }}
            group_wait: {{ $route.group_wait }}
            group_interval: {{ $route.group_interval }}
            repeat_interval: {{ $repeatInterval }}
            {{- if $route.continue }}
            continue: {{ $route.continue }}
            {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{ else }}
    policies:
      - receiver: grafana-default-email
        group_by: ["grafana_folder","alertname"]
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 4h
{{ end }}
kind: ConfigMap
metadata:
  name: alerting-overrides-config
{{- end }}
