{{ if .Values.global.backend.enabled }}
apiVersion: v1
data:
  alerting_overrides.yaml: |
    apiVersion: 1
{{ if .Values.global.workflows.enabled }}
    contactPoints:
{{- range (index .Values "monitors-manager" "alertingOverrides" "contactPoints") }}
      - name: {{ .name }}
        receivers:
{{- range .receivers }}
          - uid: {{ .uid }}
            type: {{ .type }}
            settings:
{{- range $key, $value := .settings }}
{{- if contains "{{" (toString $value) }}
              {{ $key }}: {{ tpl $value $ }}
{{- else }}
              {{ $key }}: {{ $value }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
    policies:
{{- range (index .Values "monitors-manager" "alertingOverrides" "policies") }}
      - receiver: {{ .receiver }}
        group_by:
{{- range .group_by }}
          - '{{ . }}'
{{- end }}
{{- if .matchers }}
        matchers:
{{- range .matchers }}
          - {{ . }}
{{- end }}
{{- end }}
        group_wait: {{ .group_wait }}
        group_interval: {{ .group_interval }}
        repeat_interval: {{ .repeat_interval }}
{{- $routeDefaults := (index $.Values "monitors-manager" "alertingOverrides" "routeDefaults") }}
{{- $repeatIntervals := (index $.Values "monitors-manager" "alertingOverrides" "repeatIntervals") }}
        routes:
{{- range $route := $routeDefaults }}
{{- range $repeatInterval := $repeatIntervals }}
          - receiver: {{ $route.receiver }}
            matchers:
            {{- range $route.matchers }}
              - {{ . }}
            {{- end }}
              - _gc_repeat_interval = {{ $repeatInterval }}
            group_by:
{{- range $route.group_by }}
              - '{{ . }}'
{{- end }}
            group_wait: {{ $route.group_wait }}
            group_interval: {{ $route.group_interval }}
            repeat_interval: {{ $repeatInterval }}
            {{- if $route.continue }}
            continue: {{ $route.continue }}
            {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{ else }}
    policies:
      - receiver: grafana-default-email
        group_by: ["grafana_folder","alertname"]
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 4h
{{ end }}
kind: ConfigMap
metadata:
  name: alerting-overrides-config
{{- end }}
