{{- if .Values.ingress.enabled -}}
{{- $ingresses := .Values.ingresses -}}
{{- $onpremIngressAnnotations := default (dict) .Values.onprem.ingressAnnotations -}}
{{- range $ingresses }}
apiVersion: "networking.k8s.io/v1"
kind: Ingress
metadata:
  {{- if .name }}
  name: {{ printf "%s-%s" (include "router.fullname" $) .name }}
  {{- else }}
  name: {{ include "router.fullname" $ }}
  {{- end }}
  {{- $mergedAnnotations := mergeOverwrite (dict) $onpremIngressAnnotations (default (dict) .annotations) }}
  labels:
    {{- include "router.labels" $ | nindent 4 }}
  {{- if $mergedAnnotations }}
  annotations:
    {{- range $key, $value := $mergedAnnotations }}
    {{- printf "%s: %s" $key (tpl $value $ | quote) | nindent 4 }}
    {{- end }}
  {{- end }}
spec:
  {{- if .ingressClassName }}
  ingressClassName: {{ .ingressClassName }}
  {{- end -}}
  {{- if .tls }}
  tls:
    {{- range .tls }}
    - hosts:
        {{- range .hosts }}
        - {{ tpl . $ | quote }}
        {{- end }}
      {{- with .secretName }}
      secretName: {{ . }}
      {{- end }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .hosts }}
    - host: {{ tpl .host $ | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ ternary (include "router.proxy.service.name" .) (include "router.service.name" .) $.Values.onprem.enabled }}
                port:
                  number: {{ .port }}
          {{- end }}
    {{- end }}
---
{{- end }}
{{- end }}
