{{- if and .Values.postgresql.jobs.createKeepUser.enabled (or .Values.global.postgresql.overrideUrl .Values.global.cnpg.cluster.use) }}

{{- $name := (printf "%s-create-keep-user-%s" (include "postgresql.primary.fullname" $) (randAlphaNum 6 | lower)) -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- with .Values.postgresql.jobs.createKeepUser.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}  
spec:
  ttlSecondsAfterFinished: 43200
  template:
    spec:
      restartPolicy: OnFailure
      imagePullSecrets: {{ include "imagePullSecrets" $ }}
      {{- with .Values.postgresql.jobs.createKeepUser.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgresql.jobs.createKeepUser.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgresql.jobs.createKeepUser.nodeAffinity }}
      affinity:
        nodeAffinity:
          {{- toYaml . | nindent 10 }}
      {{- end }}
      initContainers:
      - name: wait-for-db
        image: '{{ include "postgresql.initContainers.image" . }}'
        env:
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                name: '{{ include "postgresql.secretName" . }}'
                key: '{{ include "postgresql.adminPasswordKey" . }}'
          - name: POSTGRES_USER
            value: '{{ include "postgresql.username" . }}'
          - name: PGHOST
            value: '{{ splitList ":" (include "postgresql.base.url" .) | first }}'
          - name: PGPORT
            value: '{{ splitList ":" (include "postgresql.base.url" .) | last }}'
          - name: POSTGRES_DATABASE
            value: '{{ include "postgresql.database" . }}'
        command:
          - /bin/sh
          - -c
          - |
            set -eu
            until pg_isready -U "${POSTGRES_USER}" -d "dbname=${POSTGRES_DATABASE}" -h "${PGHOST}" -p "${PGPORT}"; do
              echo "Waiting for postgres..."
              sleep 2
            done
      containers:
      - name: psql
        image: '{{ include "postgresql.initContainers.image" . }}'
        command:
          - /bin/sh
          - -c
          - |
            set -eu 

            cat > /tmp/11-create-keep-user.sh << 'EOF'
            {{- tpl (index .Values.postgresql.primary.initdb.scripts "11-create-keep-user.sh") . | nindent 12 }}
            EOF

            chmod +x /tmp/11-create-keep-user.sh
            /tmp/11-create-keep-user.sh
        env:
          - name: POSTGRES_KEEP_USER
            valueFrom:
              secretKeyRef:
                optional: true
                name: keep-postgres
                key: username
          - name: POSTGRES_KEEP_DB
            valueFrom:
              secretKeyRef:
                optional: true
                name: keep-postgres
                key: database
          - name: POSTGRES_KEEP_PASSWORD
            valueFrom:
              secretKeyRef:
                optional: true
                name: keep-postgres
                key: password
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: '{{ include "postgresql.secretName" . }}'
                key: '{{ include "postgresql.adminPasswordKey" . }}'
          - name: INITDB_PGHOST
            value: '{{ splitList ":" (include "postgresql.base.url" .) | first }}'
          - name: INITDB_PGPORT
            value: '{{ splitList ":" (include "postgresql.base.url" .) | last }}'
          - name: POSTGRES_USER
            value: '{{ include "postgresql.username" . }}'  
          - name: POSTGRES_DATABASE
            value: '{{ include "postgresql.database" . }}'
{{ end -}}
