{{- if and .Values.postgresql.jobs.createDbs.enabled ( or .Values.global.postgresql.overrideUrl .Values.global.cnpg.cluster.use ) }}
{{- $name := (printf "%s-create-dbs-hook" (include "postgresql.primary.fullname" $)) -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $name }}
  namespace: {{ .Release.Namespace }}
  annotations:
  {{- if and .Values.global.postgresql.overrideUrl .Values.postgresql.jobs.createDbs.helmHooksEnabled }}
    helm.sh/hook-weight: "-2"
    helm.sh/hook: "pre-upgrade,pre-install"
    helm.sh/hook-delete-policy: "before-hook-creation"
  {{- end }}
  {{- with .Values.postgresql.jobs.createDbs.annotations }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  template:
    spec:
      restartPolicy: OnFailure
      imagePullSecrets: {{ include "imagePullSecrets" $ }}
      {{- with .Values.postgresql.jobs.createDbs.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgresql.jobs.createDbs.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgresql.jobs.createDbs.nodeAffinity }}
      affinity:
        nodeAffinity:
          {{- toYaml . | nindent 10 }}
      {{- end }}
      initContainers:
      - name: wait-for-db
        image: '{{ include "postgresql.initContainers.image" . }}'
        env:
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                name: '{{ include "postgresql.secretName" . }}'
                key: '{{ include "postgresql.adminPasswordKey" . }}'
          - name: POSTGRES_USER
            value: '{{ include "postgresql.username" . }}'
          - name: PGHOST
            value: '{{ splitList ":" (include "postgresql.base.url" .) | first }}'
          - name: PGPORT
            value: '{{ splitList ":" (include "postgresql.base.url" .) | last }}'
          - name: POSTGRES_DATABASE
            value: '{{ include "postgresql.database" . }}'
        command:
          - /bin/sh
          - -c
          - |
            set -eu
            until pg_isready -U "${POSTGRES_USER}" -d "dbname=${POSTGRES_DATABASE}" -h "${PGHOST}" -p "${PGPORT}"; do
              echo "Waiting for postgres..."
              sleep 2
            done
      containers:
      - name: psql
        image: '{{ include "postgresql.initContainers.image" . }}'
        command:
          - /bin/sh
          - -c
          - |
            set -eu

            cat > /tmp/create-dbs.sh << 'EOF'
            {{- tpl (index .Values.postgresql.primary.initdb.scripts "10-create-dbs.sh") . | nindent 12 }}
            EOF

            chmod +x /tmp/create-dbs.sh
            /tmp/create-dbs.sh
        env:
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: '{{ include "postgresql.secretName" . }}'
                key: '{{ include "postgresql.adminPasswordKey" . }}'
          - name: INITDB_PGHOST
            value: '{{ splitList ":" (include "postgresql.base.url" .) | first }}'
          - name: INITDB_PGPORT
            value: '{{ splitList ":" (include "postgresql.base.url" .) | last }}'
          - name: POSTGRES_USER
            value: '{{ include "postgresql.username" . }}'
          - name: POSTGRES_DATABASE
            value: '{{ include "postgresql.database" . }}'
{{ end -}}
