{{- $vc := .Values.vector.configMap | default dict }}
{{- if and (.Values.vector.enabled | default true) (ne ($vc.enabled | toString) "false") }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: vector-config-map
  labels:
    {{- include "groundcover.labels" . | nindent 4 }}
    app: vector
    app.kubernetes.io/name: vector
data:
  vector.yaml: |
    {{- include "vector.config.customConfig" . | nindent 4}}
{{- end }}
